<header>
  <div id="tituloContainer">
    <img src="../assets/img/pokeball.svg" alt="imagenPokemon">
    <h1>Pokédex</h1>
    <img src="../assets/img/pokeball.svg" alt="imagenPokemon">
  </div>
  <a href="#">By number</a>
</header>
<router-outlet></router-outlet>
<footer>
  <p><kbd>A</kbd> Realizado por Brandon -> <a href="https://github.com/programCode-sudo" target="_blank">Mi github</a></p>
	<p><kbd>X</kbd><a href="https://github.com/programCode-sudo/PokedexAngular" target="_blank">¿Cómo lo hice?</a></p>
</footer>
